<div class= "pagetitle">
<H1> Code of Conduct</H1>
</div>

 <!--Image-->
		<%= image_tag("cesar.jpg", alt:"Dr. Cesar with pedriatric patient", class:"photoheading") %>

<div class="container">
<div class= "medtext">
    <br>
    <H3>Code of Conduct</H3>
      <ol>
        <li>There must be no relations between staff and students.</li>
        <li>The organization has the right to send home (at his/her own expense) any student who does not follow the rules or is rude to 
            the staff members or patients. In equal manner, any disrespect from the staff should be reported to the execs.</li>
        <li>For their own safety, a staff member must accompany students at all times. There can be no wandering away from the group or 
            going out alone at night.</li>
        <li>All students must wear scrubs while seeing patients.</li>
        <li>Do not take pictures of community members without first asking their permission.</li>
        <li>Staff members are not allowed to drink alcohol with the students.</li>
    </ol>
    <br>
      <H3>Other examples of student behavior that may lead to immediate dismissal:</H3>
      <ul>
        <li>A threat to the health or safety of self or others</li>
        <li>Sexual harassment of any kind</li>
        <li>llegal drug use</li>
        <li>Abuse of alcohol</li>
        <li>Failure to attend required activities</li>
        <li>Hitchhiking</li>
        <li>Unauthorized absence from the program</li>
        <li>Unauthorized changes in housing</li>
        <li>Arrest for infractions of local laws</li>
    </ul>
    </div>
	 <br>
	 <br>
	  <div class="copyright">
			<p>Copyright  Synaptic Communities. All rights reserved.</p>
		</div>
	</div>