<div class= "pagetitle">
        <H1> Dental Training Program</H1>
       </div>

<!--Image-->
        <%= image_tag("gerald.jpg", alt:"Dr. Gerald teaching dental students", class:"photoheading") %>
        

<div class="container">
<div class= "medtext">

     <br>
     
     <p><strong>Place of work:</strong> Under-served communities of Nicaragua</p>
     <p><strong>Program Duration:</strong> 8 Days</p>
     <p><strong>Program Director:</strong>Dr. Gerald Aleman</p>
     <p><strong>Minimum Number of Participants:</strong>15 people</p>

	 <p>
            "We are a national and international organization of Nicaraguan health professionals focused on rural communities in our 
            country with the objective to be a movement that improves the state of both oral and general health of the population. 
            Our teaching methodology focusses on developing the clinical skills of our students practicing prevention, interception, 
            and dental correction while providing a free service to our most at-risk and underserved communities.” -Dr. Gerald Aleman
    </p>
    
    <p>
            The Dental program focuses mainly on the oral problems, such as gingivitis and tooth decay, that communities face due to 
            limited access to dental care and education. These diseases cause infections which later progress or cause other chronic 
            diseases. The Dental program provides a solution to the oral health problems of our communities by providing immediate dental 
            care, preventive treatments, and education through mobile medical clinics. These clinics are coordinated alongside our Medical 
            program and endorsed by the Government of Nicaragua.
    </p>
	
 <br>
    <H3>Volunteers or students will be able to</H3>
	<p>
            Observe procedures such as fillings, sealants, cleanings, and fluoride application
            Assist licensed Nicaraguan dentists on minor surgeries through helping to prepare and clean the equipment and attend to the patient’s needs.
            Attend a dental mobile pharmacy guided by a licensed pharmacist tasked with prescriptions made by the dental surgeon.
            Assist with patient's dental history through using an odontogram (reading and nomenclature in accordance with the international method). 
            Direct community dental hygiene workshops for children and adults.
	</p>
	<br>
       <H3>Services offered by the Dental Brigade:</H3>
   	<ul>
    <li>
            <strong>Cleaning treatment -</strong> the elimination of bacterial plaque, supra-gingival and infra-gingival tartar, and alba´s material of 
            the teeth through a prophylaxis technique and/or brushing technique in some of the cases with manual and ultrasonic use.
           </li>
<br>
    <li>
            <strong>Restorative treatment and extractions -</strong> the elimination of cavities and restoration of teeth with fissures using the 
            technique of obturation. Resins will also be applied, and in the case of very advanced cavity formation, tooth mobility, 
            and/or tooth loss, the extractions of the tooth or its radicular remains will be carried out.
            </li>
 <br>
    <li>
            <strong>Education Charlas-</strong>cleaning, maintenance, and the adequate masticatory process will be included in the Education Charla 
            directed by the students prior to the patients’ treatments. Students will explain and demonstrate the correct way to brush 
            and chew by means of a typodont.
              </li>
<br>
    <li>
            <strong>Referral to specialized dental centers - </strong>At the time of dental diagnosis, the patient will receive an explanation of the 
            treatment that will be performed. However, if the work requires more specialized attention, the patient will be sent to a 
            more specialized center free of charge (such as the hospital/dental faculties of one of Nicaragua’s universities).
              </li>
</ul>
	<br>
    <H3>Cultural Tour Day</H3>
    <p>As a break between the four clinic days, students will get a full day of fun activities including zip-lining, lounging in 
        Masaya’s beautiful lagoon, and/or a visit to Masaya’s live volcano.
        </p>
    <p>*Activities are subject to change depending on weather and environmental factors.
    </p>
    <br>
    <H3>Snap-Shot Itinerary</H3>
    <ul>
     <li><strong>Day 1:</strong>  In-Country Arrival</li>
     <li><strong>Day 2:</strong> Seminar and Arrival to Community Hotel</li>
     <li><strong>Day 3:</strong> Clinic Day</li>
     <li><strong>Day 4:</strong> Clinic Day</li>
     <li><strong>Day 5:</strong> Clinic Day</li>
     <li><strong>Day 6:</strong> Clinic Day</li>
     <li><strong>Day 7:</strong> Clinic Day</li>
     <li><strong>Day 8:</strong> Airport Departure Day</li>
    </ul>
    <br>
     <H3>Travel</H3>
     <p>Students will arrive at Augusto Cesar Sandino, International Airport (MGA), Managua, Nicaragua. The SC team leader will await the 
         group at the main exit door holding an SC sign and wearing an SC T-shirt. We require that students send us their proposed flight itinerary for validation before booking as well as a complete flight itinerary so that we may ensure a smooth trip for all.
     </p>
     <p>On arrival day, students will have free transportation from the airport to the hotel. On departure day, students are responsible 
         for the cost from the hotel to the airport.
     </p>
     <br>
     <H3>Liability</H3>
     <p>To best ensure the student’s health and safety during this trip, we require information on all dietary restrictions, allergies, 
         and medical issues.
        </p>
    <br>
      <H3>What's Included</H3>
      <ul>
        <li>Hotel</li>
        <li>Private, local travel expenses to and from clinics and between cities when we move hotels 
            during the trip as well as airport pickup.</li>
        <li>Breakfasts throughout the trip and catered lunches and snacks during the clinic days</li>
        <li>Clinic day expenses (medications, supplies, interpreters, dental instruments, dentists, interpreters, etc.)</li>
        <li>Hired personnel (full-time trip doctor, brigade leader, brigade assistant leader, drivers)</li>
        <li>Transportation during the tour day</li>
    </ul>
    <br>
      <H3>What's Not Included</H3>
      <ul>
        <li>Flight Ticket/Airport Entrance and Exit tax</li>
        <li>Laundry</li>
        <li>Dinner</li>
        <li>Personal expenses during the tour day</li>
    </ul>
    </div>
	 <br>
	 <br>
	  <div class="copyright">
          <p>Copyright  Synaptic Communities. All rights reserved.</p>
    </div>
</div>
