<div class= "pagetitle">
        <H1> Education Support for High-risk Children Program </H1>
        </div>

<!--Image-->
        <%= image_tag("edu.jpg", alt:"Education Support Photo", class:"photoheading") %>

<div class="container">
<div class= "medtext">
	 <br>
     <p><strong>Place of work:</strong> Schools of Nicaragua</p>
     <p><strong>Program Duration:</strong> 15 Days</p>
     <p><strong>Program Director:</strong>Angela Huergo</p>
     <p><strong>Minimum Number of Participants:</strong>10 people</p>

    <H3>Program Objectives</H3>
	 <p>
            To provide education support to children in high-risk in different schools of Nicaragua using best psychological practices.
	</p>
	
 <br>
    <H3>Program Presentation</H3>
	<p>
            On the day after arrival, the seminar starts at 3 pm in the Hotel auditorium and ends around 4: 30 pm. During the Presentation, 
            the volunteers will learn about the culture of Nicaragua and the schools where they will be working. They will also receive an 
            explanation of the activities Schedule for the trip.
	</p>
	<br>
       <H3>Hands-On Training</H3>
   	<p>
            Participants will arrive to the school at 8 am, be introduced to the school staff members, and then be divided into groups to 
            participate in the various activities scheduled for each day. The volunteers will have lunch at 12 pm before re-commencing 
            activities at 1 pm. The workday ends at 4 pm.
    </p>
  
	<br>
    <H3>Cultural Tour Day</H3>
    <p>As a break between the 2 weeks of work, students will get a full weekend of fun activities including a visit to the Little Islands 
        of Granada, Old Market Masaya, Masaya’s beautiful Apoyo Lagoon, the Catarina lookout, and a visit to Masaya’s live volcano. 
        The activities will be distributed between a two-day tour.
        </p>
    <p>*Activities are subject to change depending on weather and environmental factors.</p>
    <p>
    While Synaptic Communities will provide transportation, the rest of the expenses (entrance fees and food) will be assumed by the 
    participants.
    </p>
    <br>
    <H3>Snap-Shot Itinerary</H3>
    <ul>
     <li><strong>Day 1:</strong>Country arrival/stay in Hotel Hex</li>
     <li><strong>Day 2:</strong> Departure to the permanent hotel ( Masaya or Managua) and program presentation</li>
     <li><strong>Day 3:</strong> First day of school work</li>
     <li><strong>Day 4:</strong> Second day of school work</li>
     <li><strong>Day 5:</strong> Third day of school work</li>
     <li><strong>Day 6:</strong> Fourth day of school work</li>
     <li><strong>Day 7:</strong> Fifth day of school work</li>
     <li><strong>Day 8:</strong> First cultural tour day</li>
     <li><strong>Day 9:</strong> Second cultural tour day</li>
     <li><strong>Day 10:</strong>Sixth day of school work</li>
     <li><strong>Day 11:</strong> Seventh day of school work</li>
     <li><strong>Day 12:</strong> Eighth day of school work</li>
     <li><strong>Day 13:</strong> Nineth day of school work</li>
     <li><strong>Day 14:</strong>Tenth day of school work/ check out of the hotel and departure to Hotel Hex</li>
     <li><strong>Day 15:</strong> Airport Departure Day</li>
    </ul>
    <br>
     <H3>Travel</H3>
     <p>Participants will arrive at the Augusto C. Sandino International Airport (MGA) in Managua, Nicaragua. The SC team leader will 
         await the group at the main exit door holding an SC sign and wearing an SC T-shirt. We require that participants send us their 
         proposed flight itinerary for validation before booking as well as a complete flight itinerary so that we may ensure a smooth trip
          for all.
    </p>
     <p>On the arrival day, participants will have free transportation from the airport to the hotel. On the departure day, 
         participants are responsible for the travel cost from the hotel to the airport if the time they leave does not match with 
         the hotel transportation schedule. The cost of the transport is $6 and can be divided amongst several people.
     </p>
     <br>
     <H3>Liability</H3>
     <p>To best ensure the student’s health and safety during this trip, we require information on all dietary restrictions, allergies, 
         and medical issues.
        </p>

    <br>
      <H3>What's Included</H3>
      <ul>
        <li>Hotel</li>
        <li>Private, local travel expenses to and from clinics and between cities when we move hotels 
            during the trip as well as airport pickup.</li>
        <li>Breakfasts throughout the trip and catered lunches and snacks during the clinic days</li>
        <li>Clinic day expenses (school supplies, school staff, brigade leader, interpreters, etc.)</li>
        <li>School supply donations and financial assistance to the schools where participants will be working</li>
        <li>Hired personnel (brigade leader, drivers, school staff)</li>
        <li>Transportation during the tour day</li>
    </ul>
    <br>
      <H3>What's Not Included</H3>
      <ul>
        <li>Flight Ticket/Airport Entrance and Exit tax</li>
        <li>Laundry.</li>
        <li>Dinner</li>
        <li>Personal expenses during the tour day</li>
    </ul>
    <p>*For more information please contact<strong><a href= "mailto:angelahuergo22@gmail.es"target="blank">
            angelahuergo22@gmail.es</a></strong></p>
    </div>
	 <br>
	 <br>
	  <div class="copyright">
          <p>Copyright  Synaptic Communities. All rights reserved.</p>
        </div>
    </div>