<div class= "pagetitle">
<H1> Frequently Asked Questions</H1>
</div>

<!--Image-->
        <%= image_tag("cesar.jpg", alt:"Dr. Cesar with pedriatric patient", class:"photoheading") %>

<div class="container">
<div class= "medtext">
	 <br>
	
    <p><strong>Should I bring malaria prevention pills?</strong><br>
            We travel to places that are free from malaria endemic. While contracting malaria is always remotely possible in any tropical 
            country, prophylaxis is not essential in this trip.</p>

    <p><strong>How much money should I bring?</strong><br>
        We recommend bringing at least $200- 250 if participating in an 8-day program or US$350 - US$400 if participating in a 
        15-day program in small bills depending on meal preference, incidentals, and personal spending.
    </p>
    
    <p><strong>What should I wear?</strong><br>
        Light and comfortable clothes are necessary due to the weather. Shorts, leggings, t-shirts, flip-flops, and sports shoes are all 
        acceptable forms of attire during the first day as well as on all seminar days.
    </p>
    <p>Scrubs are required attire for every clinic day (sports shoes are fine), remember we are a team of medical professionals-in-training.
    </p>
    <p>On the day tour, we suggest that you wear comfortable attire and athletic or walking shoes. There is one night when we will show you 
        the local nightlife so you may want to pack something nice.
    </p>

    <p><strong>What will I need for meals?</strong><br>
        For dinner, we will go to a different restaurant each night, nice but not too fancy, in order to provide a nice sampling of the 
        local cuisine. SC will provide breakfast and lunch during the clinic or school work days. 
    </p>
    <p>Students are responsible for all other trips meals. Price for the meals will generally range from approximately $10-$12 for lunch 
        and $10- $12 for dinner so it is advisable to bring about $120-$150 for meals if participating in an 8-day program or $170 to $200 
        if participating in a 15-day program. Extra expenses such as beverages and souvenir shopping will depend on personal choices. 
        SC will provide water for the entire trip.
    </p>
    </div>
	 <br>
	 <br>
	  <div class="copyright">
		  <p>Copyright  Synaptic Communities. All rights reserved.</p>
		</div>
	</div>