
<div class="logo_home">
		<%= image_tag('SCHeader.svg', alt:'Synaptic Communities Logo', class: 'logo_home') %> 
		</div>  

	<div class="container">
		
		
			<div class= "hometext">
					
					<br>
				<br>
					<H2>Who We Are</H2>
				<p>
					We believe in the power of knowledge transferred between communities. We are a non-profit organization that provides training services to students and professionals alike which also benefit Nicaragua's most underserved communities. We provide a medical training service to North American students while also providing at-risk, under-resourced communities in Nicaragua with free medical, dental, and veterinary attention. We also provide an education support training program based on best psychological practices for international volunteers fluent in Spanish which helps provide financial and resource assistance to Nicaragua's most under-served schools.
				</p>
				
			<br>
					<H2>Our Mission</H2>
				<p>
					To foster a world where true development is seen not as a one-way transfer between the haves and have-nots, but as a knowledge exchange between two communities respected for their valued contributions.
				</p>
				<br>
						<H2>Our Vision</H2>
					<p>
						To facilitate the exchange of knowledge amongst communities of the global north and global south via mutually beneficial exchange learning programs, serving Nicaragua's most underserved communities.
					</p>
				<br>
						<H2>General Objective</H2>
					<p>
						Provide low-resource, at-risk communities with free education support as well as medical, dental, and veterinary attention while providing participants with the opportunity to receive advanced education support training from Nicaraguan education professionals or the opportunity to define their vocations and learn from Nicaraguan medical, dental, and veterinary professionals working in a low-resource, rural environment.
					</p>
				<br>
						<H2>Specific Objectives</H2>
					<ol>
					<p>1. Facilitate the knowledge exchange between Nicaraguan medical professionals and North American students</p>
					<p>2. Facilitate the knowledge exchange between Nicaraguan education professionals and international volunteers.</p>
					<p>3. Provide medical, vet, and dental attention to at-risk communities.</p>
					<p>4. Provide education support based on best psychological practices to at-risk communities.</p>
					<p>5. To help students to define their vocations.</p>
					<p> 6. To help professionals and students alike to advance their knowledge and experience.</p>
					<ol>
				
					</div>
		
				<br>
				<br>
					<div class="copyright">
						<p>Copyright  Synaptic Communities. All rights reserved.</p>
					</div>
	</div>
	