<div class= "pagetitle">
    <H1> Medical Training Program</H1>
   </div>
    
   <!--Image-->
        <%= image_tag("cesar.jpg", alt:"Dr. Cesar with pedriatric patient", class:"photoheading") %>
    <br>

<div class="container">
<div class= "medtext">
	
     <p><strong>Place of work:</strong> Under-served communities of Nicaragua</p>
     <p><strong>Program Duration:</strong> 8 Days</p>
     <p><strong>Program Director:</strong>Dr. Cesar Antonio Boza Gaitan</p>
     <p><strong>Minimum Number of Participants:</strong>15 people</p>

	 <p>
            We guarantee that your Synaptic Communities (SC) trip to Nicaragua will be an amazing and unforgettable experience. 
            We will provide you with all the tools you need to ensure that this trip is a huge opportunity to receive rural medical training 
            and learn about medicine in another country as well as provide a free medical service to people in Nicaragua’s high-risk 
            communities.

	</p>
	
 <br>
    <H3>Seminar</H3>
	<p>
            On the day after arrival, the seminar starts at 8am in the Hotel auditorium and ends around noon with a 15-minute morning break. 
            During the seminar, the students will meet the SC Staff; learn about the culture of Nicaragua and the communities where they will 
            be working. One of the doctors will also give a brief class on the pathologies and treatments that they will see during the 
            brigade days. Synaptic Communities will provide students with a document that contains information snap-shots on these 
            pathologies and treatments prior to their arrival in-country). The seminar will conclude with instructed practice exercises on 
            how to take vital signs as well as a mock-clinic exercise to prepare them for the clinic days.

	</p>
	<br>
       <H3>Hands-On Training</H3>
   	<p>
            Students will arrive to the communities at 8am, be introduced to the SC Community Staff Member, and then be divided into 
            groups tasked with taking the vital signs and medical history of each patient that is sent by the SC staff. This can take 
            between 10 to 15 minutes per patient.
    </p>
    <p>
            Once the medical history and vital signs have been taken, students will brief the doctor on the patient information and the doctor will explain the pathology and appropriate treatment while providing the patient with the appropriate treatment. The prescriptions will be signed and stamped by the doctor with the following information: 1. Name of the patient, 2. Age of the patient, and 3. Name of the medication (each medication prescribed must be on a separate prescription).
    </p>
    <p>
            Once the prescription is ready, a student will go to the pharmacy to bring the medication/s for the patient and the doctor 
            will explain to the patient how he/she must take the medication while the students observe.
    </p>
	<br>
    <h3>Cultural Tour Day</h3>
    <p>As a break between the four clinic days, students will get a full day of fun activities including zip-lining, lounging in 
        Masaya’s beautiful lagoon, and/or a visit to Masaya’s live volcano.
        </p>
    <p>*Activities are subject to change depending on weather and environmental factors.
    </p>
    <br>
    <h3>Snap-Shot Itinerary</h3>
    <ul>
     <li><strong>Day 1:</strong>  In-Country Arrival</li>
     <li><strong>Day 2:</strong> Seminar and Arrival to Community Hotel</li>
     <li><strong>Day 3:</strong> Clinic Day</li>
     <li><strong>Day 4:</strong> Clinic Day</li>
     <li><strong>Day 5:</strong> Clinic Day</li>
     <li><strong>Day 6:</strong> Clinic Day</li>
     <li><strong>Day 7:</strong> Clinic Day</li>
     <li><strong>Day 8:</strong> Airport Departure Day</li>
    </ul>
    <br>
     <h3>Travel</h3>
     <p>Students will arrive at Augusto Cesar Sandino, International Airport (MGA), Managua, Nicaragua. The SC team leader will await the 
         group at the main exit door holding an SC sign and wearing an SC T-shirt. We require that students send us their proposed flight itinerary for validation before booking as well as a complete flight itinerary so that we may ensure a smooth trip for all.
     </p>
     <p>On arrival day, students will have free transportation from the airport to the hotel. On departure day, students are responsible 
         for the cost from the hotel to the airport.
     </p>
     <br>
     <h3>Liability</h3>
     <p>To best ensure the student’s health and safety during this trip, we require information on all dietary restrictions, allergies, 
         and medical issues.
        </p>
    <br>
      <h3>What's Included</h3>
      <ul>
        <li>Hotel</li>
        <li>Private, local travel expenses to and from clinics and between cities when we move hotels 
            during the trip as well as airport pickup.</li>
        <li>Breakfasts throughout the trip and catered lunches and snacks during the clinic days</li>
        <li>Clinic day expenses (medications, supplies, doctors, interpreters, etc.)</li>
        <li>Hired personnel (full-time trip doctor, brigade leader, brigade assistant leader, drivers)</li>
        <li>Transportation during the tour day</li>
    </ul>
    <br>
      <H3>What's Not Included</H3>
      <ul>
        <li>Flight Ticket/Airport Entrance and Exit tax</li>
        <li>Laundry.</li>
        <li>Dinner</li>
        <li>Personal expenses during the tour day</li>
    </ul>
    </div>
	 <br>
	 <br>
	  <div class="copyright">
		  <p>Copyright  Synaptic Communities. All rights reserved.</p>
      </div>
</div>