
		<%= image_tag("SCHeader.svg", alt:"Synaptic Communities Logo", class: "logo") %>
        

<div class= "pagetitle">
     <H1> Make a Payment</H1>
    </div>

	<div class="container">
		
		
			<div class= "hometext">
					
				</header>
					<br>
				<br>
				<p>
                        Your trip fees are charitable donations that are utilized to provide free medical, dental, and veterinary care 
                        services to underserved, at-risk  communities in Nicaragua.</p>
                <br>
                <br>
                
                <p>If you prefer to pay by check, please follow these instructions:</p>

                <p>All checks should be written out to “Synaptic Communities”. 
                    Please send checks with the printed <strong>Check Payment & Donation Form</strong> to the address below:</p>

					<p ALIGN=LEFT>
					Synaptic Communities<br>
                    6997 Azusa Rd.</br>
                    Tallahassee, Florida 32317</br>
                    </p>

                    <br>
                    <br>
                    
                    <ul>
                    <p>*All checks must be mailed at least 70 days before the trip begins.</p>
                    <p>*All checks must be drawn from a US bank account.</p>

                    <p>*For people from other countries, you can go to the bank and ask for a US check to mail to us. 
                        You will be notified once the check has arrived</p>
                    </ul>

                    <p><strong>ALL TRIP FEES ARE IN UNITED STATES DOLLARS (USD).</strong></p>

                    <br>
                    <br>
                    <br>
                    <p><strong>SELECT YOUR PAYMENT METHOD</strong></p>
					</div>
		
				<br>
				<br>
					<div class="copyright">
						<p>Copyright  Synaptic Communities. All rights reserved.</p>
					</div>
	</div>
	