<div class= "pagetitle">
    <H1> Meet Our Team</H1>
   </div>

<div class="container">
<div class= "medtext">
	
        <h3>Dana L. Terry M.A.</h3>
        <p><strong>Co-Founder and Director of Innovation and Marketing</p></strong>
        
        <!-- Headshot -->
        <div id="headshot-container">
        <span>
         <%= image_tag("Dana.jpg", alt:"Dana L. Terry Profile Picture", class: "dana-headshot") %>
        </span>
        </div>
        <div id="about-container">
        <div class="profile">
        <p>Dana is the creative brain behind the logo design, branding, and website. Aside from being the co-founder, 
            she is also Synaptic Communities' graphic designer, coder, and program designer. She designed and coded the organization's 
            mobile web-app and is currently working on launching Synaptic Communities' Innovation Lab.</p>
        <p>She holds an M.A. degree in International Relations and Diplomacy from Seton Hall University specializing in 
            Post-Conflict Community Development and International Organizations as well as a B.A. degree in International Affairs 
            from Florida State University. She is also a self-taught graphic designer and a graduate of a mobile app coding course 
            as well as the I/O Avenue Coding Academy Bootcamp where she learned back-end as well as front-end coding labguages and 
            mark-up languages.</p>
        <p>Her work experience ranges from implementing and managing initiatives to grow community development programs, 
            fostering innovation, and empowering women and minority-owned businesses in both Tallahassee, Fl. and Nicaragua to 
            assisting in the program operations of international organizations based in New York.</p>
        <p>She has spent the past three years in Nicaragua working directly for two Non-Governmental Organizations working on 
            economic development and innovation projects as a kind of ‘intraprenuer’, partnering with various other civil society 
            institutions in the region, coaching local entrepreneurs, and starting projects to increase access to and understanding
            of technology.</p>
        <p>Her publications have appeared in LSE’s Studies in Ethnicity and Nationalism, UNA-USA’s blog, UN Department of Information, 
            and a few other online publication sites.</p>
        <p>"We believe in the power of knowledge transferred between communities in a world where true development is seen not as a 
            one-way transfer between the haves and have-nots, but as a knowledge exchange between two communities respected for their 
            valued contributions. We seek to empower individuals to be the protagonists of their own development stories."
        <br> - Dana L. Terry</p>

    <br>
    <br>

    <h3>Dr. Cesar A. Boza M.D. M.S.</h3>
        <p><strong>Co-Founder and Medical Director</p></strong>
        
        <!-- Headshot -->
        <div id="headshot-container">
        <span>
         <%= image_tag("Cesarheadshot.jpg", alt:"Cesar A. Boza Profile Picture", class: "cesar-headshot") %>
        </span>
        </div>
        <div id="about-container">
        <div class="profile">
        <p>Cesar is the creator and director of the Medical Program. Aside from being the co-founder, he is also one of 
            Synaptic Communities' Physicians responsible for providing medical services to poor communities and providing students 
            with an amazing learning experience.</p>
        <p>He holds a Master degree in Public Health from the Center for Investigations and Studies for Health in Nicaragua. 
            He has years of experience as a medical teacher working with more than four Non-Governmental Organizations sharing 
            knowledge with students while providing communities with free medical attention.</p>
        <p>He also worked for the Global Fund as the head consultant for a national program in Nicaragua that focused on reducing 
            the stigma that people with tuberculosis suffer. Through this role, he prepared and gave seminars in every department of 
            Nicaragua focused on teaching doctors and nurses strategies and tools for how to reduce the stigma. He also designed the 
            national manual on the de-stigmatization of TB, which will be used by the national Ministry of Health..</p>
        <p>"I guarantee that the Medical Program will be both an amazing learning experience for North American students as well as an 
            opportunity to help Nicaragua's most under-served populations with a high-quality medical service that they wouldn't 
            otherwise be able to afford."</p>
        <p>"Medicine is the love you share helping others which will not make you irreplaceable but unforgettable".
            <br> - Dr. Cesar A. Boza</p>
        
            <br>
            <br>
    
            <h3>Dr. Gerald Aleman D.M.D.</h3>
            <p><strong>Dental Director</p></strong>
            
            <!-- Headshot -->
            <div id="headshot-container">
            <span>
             <%= image_tag("Geraldheadshot.png", alt:"Gerald Aleman Profile Picture", class: "gerald-headshot") %>
            </span>
            </div>
            <div id="about-container">
            <div class="profile">
            <p>As Dental Director of Synaptic Community, Gerald Alemán created and coordinates the Dental Program as well as serves
                 as the head dental clinic professor. He is a Dental Surgeon with three years of experience working as a brigade 
                 dental professor in rural communities who has also had his own private practice in the city of Masaya for the past 
                 three years. Gerald has a postgraduate degree in Endodontics and a degree in Superior Dental Technician 
                 from UCICA (Universidad Catolica Redemptoris Mater), a university in Managua.</p>
            
            <p>“The integrity of our principles plays an important role in all forms of human service. 
                Cultivating these principles over the years has allowed me to realize that professional technical skills must go 
                hand-in-hand with human-centered skills for true healthcare quality to be ensured.”
                <br> - Dr. Gerald Aleman</p>
    <br>
    <br>
    <br>

    <h3>Angela Huego Luz</h3>
    <p><strong>Education Support for High-Risk Children Program Director</p></strong>
    
    <!-- Headshot -->
    <div id="headshot-container">
    <span>
     <%= image_tag("Angelaheadshot.png", alt:"Angela Huego Luz Profile Picture", class: "angela-headshot") %> 
    </span>
    </div>
    <div id="about-container">
    <div class="profile">
    <p>Ms. Angela created our Education Support for High-Risk Children Program, which targets at-risk schoolchildren in Nicaragua. 
        She is a licensed Psychologist from the Universidad Autónoma de Madrid in Spain and has a specialty degree in therapy for 
        autistic children from APNA (Asociación de Padres de Niños Autistas) as well as a Diploma in Mental Health in Situations 
        of Natural Disasters or Violence from GAC (Grupo de Acción Communitaria) in collaboration with Universidad Complutense de Madrid 
        and the Spanish Association of Neuropsychiatry.</p>
    
    <p>She has more than 10 years of experience in psychology including infant education, learning and development, counseling, 
        and pre-school education program planning as well as school support for children and adolescents with problems of adaptation. 
        She also has experience providing support for the integration of children with special needs in regular classrooms as well as 
        the diagnosis, development, and monitoring & evaluation of personalized therapeutic programs, parental engagement, 
        and the organization of workshops aimed at early childhood education. She is a Specialist in autism and pedagogy.</p>
    
    <p>She has also worked in the identification and formulation of social-based development projects focused on the most vulnerable 
        populations of women and children including those who have experienced violence or domestic abuse. She has participated in 
        psychological and educational support for people with physical, psychological, or socio-cultural problems and has formed and 
        executed psycho-social support programs in disadvantaged environments.</p>

    <p>Lastly, she has experience providing psychosocial and legal consultations to battered and disabled persons along with 
        organizing special education classrooms, therapies, and monitoring and evaluation projects.</p>
    
    <p>“"I believe that the Mental Health Education Support Program of Synaptic Communities is going to be a wonderful and beautiful 
        experience for professionals and students alike who are looking to participate and provide support for school children in 
        Nicaragua's most at-risk communities."
        <br> - Angela Huego Luz</p>
    </div>
	 <br>
     <br>
</div> 
	  <div class="copyright">
		  <p>Copyright  Synaptic Communities. All rights reserved.</p>
        </div>
</div>