/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * { 
    box-sizing: border-box; 
    margin:0;
    padding:0;
  } 

.navbar{
    color: #2984A0!important;
}

.nav_img{
    height: 4em !important;
}

.logo {
      float: center!important;
      width: 700px!important;
      margin-right: 0em;
      margin-left: 3em;
      margin-top: 4em;
      margin-bottom: 0em;
  }

  .logo_home {
    float: center!important;
    width: auto;
    height: auto;
    max-width: 60em!important;
    margin-right: 0em;
    margin-left: 0em;
    margin-top: 5em;
    margin-bottom: 0em;
}

  .hometext{
      color: #2984A0;
      font-family: Avenir Next !important;
      font-size: 1em; 
      text-align: justify!important;
      line-height: 1.5rem!important;
      margin-left: 0em!important;
      margin-right: 0em!important;
      margin-top: 5em!important;
  }
  
  .copyright{
    color: #2984A0!important;
    font-family: Avenir Next !important;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1em!important; 
  }

  /* code for all programs */
  .pagetitle{
    text-align: center!important;
    color: #2984A0;
    font-family: Avenir Next !important;
    margin-top: 8em;
  }
  
  /* All photo headings */
  .photoheading{
    margin-top: 3em!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    height: auto;
  }

/* code for all programs */
  .medtext{
    color: #2984A0;
    font-family: Avenir Next !important;
    font-size: 1em!important; 
    text-align: justify!important;
    line-height: 1.5rem!important;
    margin-left: 0em!important;
    margin-right: 0em!important;
    margin-top: 3em!important;
  }

  /* 'Meet Our Team' Headshots */
  .dana-headshot {
    float: left;
    margin-right: 20px;
    align: middle;
    width: 200px;
  }

  .cesar-headshot {
    float: left;
    margin-right: 20px;
    align: middle;
    width: 200px;
  }

  .gerald-headshot {
    float: left;
    margin-right: 20px;
    align: middle;
    width: 200px;
  }

  .angela-headshot {
    float: left;
    margin-right: 20px;
    align: middle;
    width: 200px;
  }

.btn-register  {
  color: #2984A0!important;
  height: 2em !important;
  width: 5em !important;
}
.table--fixed th,
.table--fixed td {
  padding: 2em;  
}

.table--fixed thead th {
  background-color:#333;
  color:white;
}

.table--fixed tbody tr:nth-child(odd){
  background-color:#DDD;
}


/*Flexbox logic */

.table--fixed {
  display: flex;
  width: 100%;
  flex-flow: column;
}

.table--fixed thead {
  display: block;
  > tr {
    display: flex;
    >th {
      flex: 1;      
    }
    >th:nth-child(2) {
      flex: 0 0 20px;
    }
  }
}

.table--fixed tbody { 
  height: 100%;
  width: 100%;
}

.table--fixed tbody {
  display: block;
  > tr {
    display: flex;
    // flex-wrap:nowrap;
    >td {
      flex: 1;
      // display:flex;
      // justify-content:flex-start;
    }
    >td:nth-child(2){
      flex: 0 0 26px;
    }
  }
}

.buttons{
  color: #2984A0 !important;
  font-family: Avenir Next !important;
}